@import "../../node_modules/@plake492/css_utilities/src/index.scss";

$font-list: (
  "Chakra_Petch/ChakraPetch-Bold.ttf",
  "Chakra_Petch/ChakraPetch-SemiBold.ttf" "Chakra_Petch/ChakraPetch-Light.ttf",
  "Chakra_Petch/ChakraPetch-Medium.ttf",
  "Chakra_Petch/ChakraPetch-Regular.ttf"
);

@each $font in $font-list {
  @font-face {
    font-family: "Chakra Petch";
    src: url("../fonts/#{$font}") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

// @import "./buttons";
@import "./grid-bg";
@import "./img-gallery";
@import "./audio";

:root {
  --primary-font: "Comfortaa", sans-serif;
  --secondary-font: "Chakra Petch", sans-serif;
}

body {
  background-color: #ddd;
  position: relative;
  background: conic-gradient(
    #333,
    rgb(84, 5, 106),
    #222,
    #330355,
    #000000,
    rgb(84, 5, 106),
    rgb(20, 24, 20),
    #2c0448,
    #333
  );
}

section {
  backdrop-filter: blur(4px);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(66, 23, 186, 0.6) 75%
  );
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: $space-xl;
  }
}

footer {
  background-color: #222;
  color: #ddd;
}
